.container.mt-4
  = render Shared::TitleRow::Component::Show.new(title: I18n.t("friendship_requests.index.title"))

  - if @friendship_requests.any?
    .row.g-4
      - @friendship_requests.each do |friendship_request|
        .col-md-6.col-lg-4
          = render FriendshipRequest::Component::RequestCard.new(friendship_request: friendship_request, current_user: @current_user)
  - else
    .empty-content-container
      i.bi.bi-people.empty-icon
      .empty-title = I18n.t("friendship_requests.index.no_friendship_requests_title")
      .empty-message = I18n.t("friendship_requests.index.no_friendship_requests")
