.card
  .card-body.p-2
    .d-flex.justify-content-center.mb-1
      - if is_incoming_request?
        .badge.bg-primary = I18n.t('friendship_requests.index.incoming_request')
      - else
        .badge.bg-success = I18n.t('friendship_requests.index.outgoing_request')
    .user-info
      .d-flex.align-items-center.justify-content-between.mb-1
        .d-flex.align-items-center
          i.bi.bi-person-circle.me-2 style="font-size: 1.5rem;"
          .user-name.fw-bold = request_user.name
        = link_to user_path(request_user), class: 'btn btn-link btn-sm p-0 text-muted'
          i.bi.bi-box-arrow-up-right
      .user-details.mb-1
        .user-nickname.text-muted.small.mb-0 = "#{I18n.t('user_searches.nickname_label')} #{request_user.nickname}"
        .user-email.text-muted.small = request_user.email
    .user-actions.mt-2.text-center
      - if is_incoming_request?
        .d-flex.flex-column.gap-2
          = button_to friendship_request_path(@friendship_request), method: :patch, class: 'btn btn-success btn-sm w-100 py-1', data: { turbo: false } do
            i.bi.bi-check-lg
          = button_to friendship_request_path(@friendship_request), method: :delete, class: 'btn btn-danger btn-sm w-100 py-1', data: { turbo: false } do
            i.bi.bi-x-lg
      - else
        = button_to friendship_request_path(@friendship_request), method: :delete, class: 'btn btn-danger btn-sm w-100 py-1', data: { turbo: false } do
          i.bi.bi-trash
