- if @path
  a href=@path *html_options
    - if @text
      = @text
    - else
      i.bi class="#{icon_class} fs-5"
- else
  button *html_options
    - if @text
      = @text
    - else
      i.bi class="#{icon_class} fs-5"
