header.navbar-shell
  nav.navbar.navbar-custom.navbar-expand-lg aria-label="Primary navigation"
    .container-fluid.navbar-frame
      a.navbar-brand href=root_path
        .brand-wrapper
          .logo-box aria-hidden="true"
            span.logo-icon ⬣
          .brand-text
            - I18n.t('navbar.brand').split.each do |word|
              span.brand-word = word

      ul.navbar-nav.d-none.d-lg-flex.flex-row.navbar-desktop-links
        li.nav-item
          a.nav-link class=("active" if active_link?("/shopping_lists")) href=shopping_lists_path = I18n.t('navbar.shopping_lists')
        li.nav-item
          a.nav-link href="#" = I18n.t('navbar.wishlists')
        li.nav-item
          a.nav-link href="#" = I18n.t('navbar.recipes')
        li.nav-item
          a.nav-link class=("active" if active_link?("/friends")) href=friends_path = I18n.t('navbar.friends')
        li.nav-item
          a.nav-link href="#" = I18n.t('navbar.subscription')
      .navbar-actions.d-none.d-lg-flex
        - if @current_user.present?
          = button_to destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'navbar-action-btn navbar-action-btn-danger', form_class: 'd-inline' do
            .action-icon ←
            span.action-text = I18n.t('navbar.sign_out')
        - else
          = link_to new_user_session_path, class: 'navbar-action-btn navbar-action-btn-success' do
            .action-icon →
            span.action-text = I18n.t('navbar.sign_in')

      button.navbar-toggler-mobile.d-lg-none type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle navigation"
        span.hamburger-icon
          span.hamburger-line
          span.hamburger-line
          span.hamburger-line

  .offcanvas.offcanvas-end.navbar-offcanvas tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel"
    .offcanvas-header.navbar-offcanvas-header
      span.navbar-brand-mobile#navbarOffcanvasLabel
        .brand-wrapper
          .logo-box-mobile aria-hidden="true"
            span.logo-icon ⬣
          .brand-text-mobile
            - I18n.t('navbar.brand').split.each do |word|
              span.brand-word = word
      button.btn.btn-close-custom type="button" data-bs-dismiss="offcanvas" aria-label="Close"
        span.close-icon ✕

    .offcanvas-body.p-0
      nav.navbar-offcanvas-nav aria-label="Mobile navigation"
        a.navbar-offcanvas-link href=root_path
          span = I18n.t('navbar.home')
          span.link-arrow ↗
        a.navbar-offcanvas-link href=shopping_lists_path
          span = I18n.t('navbar.shopping_lists')
          span.link-arrow ↗
        a.navbar-offcanvas-link href="#"
          span = I18n.t('navbar.wishlists')
          span.link-arrow ↗
        a.navbar-offcanvas-link href="#"
          span = I18n.t('navbar.recipes')
          span.link-arrow ↗
        = link_to friends_path, class: 'navbar-offcanvas-link' do
          span = I18n.t('navbar.friends')
          span.link-arrow ↗
        a.navbar-offcanvas-link href="#"
          span = I18n.t('navbar.subscription')
          span.link-arrow ↗

      .navbar-offcanvas-cta
        - if @current_user.present?
          = button_to I18n.t('navbar.sign_out'), destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-cta-offcanvas', form_class: 'd-inline'
        - else
          = link_to new_user_session_path, class: 'btn btn-cta-offcanvas' do
            span = I18n.t('navbar.sign_in')
            span.cta-arrow ↗
