.card.form-card
  = image_tag "banners/registration.png", class: "card-img-top border-bottom border-3 border-dark", style: "border-bottom: 3px solid #000;"
  .card-body
    h2.form-title = I18n.t('registrations.form.title')
    p.form-subtitle = I18n.t('registrations.form.subtitle')

    - if helpers.flash.any?
      - helpers.flash.each do |type, message|
        .alert.alert-dismissible.fade.show class="alert-#{type == 'notice' ? 'info' : type == 'alert' ? 'danger' : type == 'warning' ? 'warning' : type}" role="alert"
          .alert-icon
          .alert-content= message
          button.btn-close type="button" data-bs-dismiss="alert" aria-label="Close"

    = render Users::Registrations::Component::Form.new(resource: resource, resource_name: resource_name)

    .text-center.my-3
      span.fw-bold = I18n.t('basic.or')

    .form-actions
      = render Shared::GoogleSignInButton::Component::Show.new(text_key: 'registrations.form.google_sign_up')

    .form-footer
      p.form-footer-text
        = I18n.t('registrations.form.already_have_account')
        = link_to I18n.t('registrations.form.sign_in'), helpers.new_user_session_path, class: 'form-link'
