.mt-4 data-controller="collapse"
  button.btn-toggle-done type="button" data-action="click->collapse#toggle" data-show-text=I18n.t('shopping_list_items.show_done') data-hide-text=I18n.t('shopping_list_items.hide_done')
    i.bi.bi-check-circle.me-2
    span.toggle-text = I18n.t('shopping_list_items.show_done')
    span.badge.bg-secondary.ms-2 = @done_items.count

  .collapse.mt-3 data-collapse-target="content"
    .shopping-items-list.done-items id="done-items-list"
      - @done_items.last(10).each do |item|
        = render ShoppingListItem::Component::Item.new(shopping_list: @shopping_list, item: item, can_manage: @can_manage)
