#new-shopping-list-item-form
  = form_with url: helpers.shopping_list_shopping_list_items_path(@shopping_list), method: :post, class: "form-custom mb-4" do |f|
    .shopping-item-form.d-flex.gap-2
      = f.text_field :shopping_list_item, name: "shopping_list_item[name]", placeholder: I18n.t('shopping_list_items.form.placeholder'), class: "form-control-custom flex-grow-1", required: true, autocomplete: "off"
      = f.submit I18n.t('shopping_list_items.form.submit'), class: "btn btn-success"
