.card
  .card-body.p-2
    .user-info
      .d-flex.align-items-center.justify-content-between.mb-1
        .d-flex.align-items-center
          i.bi.bi-person-circle.me-2 style="font-size: 1.5rem;"
          .user-name.fw-bold = friend.name
        = render ::Base::Component::Button.new(type: :external_link, path: user_path(friend), class: 'btn-sm p-0 text-muted')
      .user-details.mb-1
        .user-nickname.text-muted.small.mb-0 = "#{I18n.t('user_searches.nickname_label')} #{friend.nickname}"
        .user-email.text-muted.small = friend.email
    .user-actions.mt-2.text-center
      = render ::Base::Component::Button.new(type: :delete, path: friend_path(@friendship), class: 'btn-sm w-100 py-1', data: { turbo_method: :delete, turbo_confirm: I18n.t('friends.index.remove_friend_confirm') })
