.card
  .card-body.p-2
    .user-info
      .d-flex.align-items-center.justify-content-between.mb-1
        .d-flex.align-items-center
          i.bi.bi-person-circle.me-2 style="font-size: 1.5rem;"
          .user-name.fw-bold = friend.name
        = link_to user_path(friend), class: 'btn btn-link btn-sm p-0 text-muted'
          i.bi.bi-box-arrow-up-right
      .user-details.mb-1
        .user-nickname.text-muted.small.mb-0 = "#{I18n.t('user_searches.nickname_label')} #{friend.nickname}"
        .user-email.text-muted.small = friend.email
    .user-actions.mt-2.text-center
      = button_to friend_path(@friendship), method: :delete, class: 'btn btn-danger btn-sm w-100 py-1', data: { turbo_confirm: I18n.t('friends.index.remove_friend_confirm') } do
        i.bi.bi-trash
