= image_tag "banners/friends.png", class: "img-fluid w-100 rounded mb-4 border-3 border-dark view-banner", style: "border: 3px solid #000; box-shadow: 4px 4px 0 #000; object-fit: cover; height: 15rem;"
= render Shared::TitleRow::Component::Show.new(title: I18n.t('friends.index.title'), button_text: I18n.t('friends.index.add_friend'), button_data: { 'bs-toggle': 'modal', 'bs-target': '#addFriendModal' })

- if @friendships.any?
  .row.g-4.mb-4
    - @friendships.each do |friendship|
      .col-6.col-md-4.col-lg-3.col-xl-2
        = render Friends::Component::FriendCard.new(friendship: friendship, current_user: @current_user)
  
    = render Shared::Pagination::Component::Show.new(collection: @friendships)
- else
  .empty-content-container
    i.bi.bi-people.empty-icon
    .empty-title = I18n.t("friends.index.no_friends_title")
    .empty-message = I18n.t("friends.index.no_friends")
    button.btn.btn-primary.mt-3 data-bs-toggle="modal" data-bs-target="#addFriendModal" = I18n.t('friends.index.add_friend')

= render FriendshipRequest::Component::Index.new(incoming_requests: @incoming_requests, outgoing_requests: @outgoing_requests, current_user: @current_user)

= render Shared::Modal::Component::Show.new(id: 'addFriendModal', title: I18n.t('friends.index.add_friend'), size: 'md', type: 'form') do
  = render UserSearches::Component::Index.new(query: nil, users: [])
