- form_id = 'create_shopping_list_form'
= render Shared::Modal::Component::Show.new(id: 'createShoppingListModal', title: I18n.t('shopping_lists.create.title'), size: 'md', type: 'form') do |modal|
  = render ShoppingList::Component::Form.new(shopping_list: @new_shopping_list, form_id: form_id, hide_actions: true)
  - modal.with_footer do
    button.btn.btn-primary type="submit" form=form_id = I18n.t('shopping_lists.form.submit_create')
