- url = @shopping_list.persisted? ? helpers.shopping_list_path(@shopping_list) : helpers.shopping_lists_path
- html_opts = { class: 'form-custom', data: { turbo: false }, id: @form_id }.compact
= helpers.simple_form_for(@shopping_list, url: url, html: html_opts) do |f|
  = f.error_notification

  .form-group
    = f.input :name, autofocus: true, input_html: { class: 'form-control-custom' }, label_html: { class: 'form-label-custom' }, label: I18n.t('shopping_lists.form.name_label')

  - unless @hide_actions
    .form-actions.d-flex.justify-content-end
      - submit_key = @shopping_list.persisted? ? 'submit_update' : 'submit_create'
      = f.button :submit, I18n.t("shopping_lists.form.#{submit_key}"), class: 'btn btn-primary'
