= image_tag "banners/shopping_lists.png", class: "img-fluid w-100 rounded mb-4 border-3 border-dark", style: "border: 3px solid #000; box-shadow: 4px 4px 0 #000; object-fit: cover; height: 15rem;"
= render Shared::TitleRow::Component::Show.new(title: I18n.t('shopping_lists.index.title'), button_text: I18n.t('shopping_lists.index.create'), button_data: { 'bs-toggle': 'modal', 'bs-target': '#createShoppingListModal' })

- if @pending_invitations.any?
  h5.mb-3 = I18n.t('shopping_list_invitations.pending_invitations')
  .row.g-4.mb-4
    - @pending_invitations.each do |invitation|
      = render ShoppingListInvitation::Component::InvitationCard.new(invitation: invitation, current_user: @current_user)

- if @shopping_lists.any?
  .row.g-4.mb-4
    - @shopping_lists.each do |list|
      = render ShoppingList::Component::ListItem.new(shopping_list: list)
  
    = render Shared::Pagination::Component::Show.new(collection: @shopping_lists)

- else
  .empty-content-container
    i.bi.bi-bag.empty-icon
    .empty-title = I18n.t("shopping_lists.index.no_lists_title")
    .empty-message = I18n.t("shopping_lists.index.no_lists")
    button.btn.btn-primary.mt-3 data-bs-toggle="modal" data-bs-target="#createShoppingListModal" = I18n.t('shopping_lists.index.create')

= render ShoppingList::Component::Create.new(new_shopping_list: @new_shopping_list)

- @shopping_lists.each do |list|
  - if helpers.policy(list).update?
    = render ShoppingList::Component::Edit.new(shopping_list: list)
