= render Shared::TitleRow::Component::Show.new(title: I18n.t('shopping_lists.index.title'), button_text: I18n.t('shopping_lists.index.create'), button_data: { 'bs-toggle': 'modal', 'bs-target': '#createShoppingListModal' })

- if @shopping_lists.any?
  .row.g-4.mb-4
    - @shopping_lists.each do |list|
      .col-md-6.col-lg-4
        .card.h-100
          .card-body
            h5.card-title = list.name
            p.card-text
              small.text-muted
                = I18n.t('shopping_lists.index.owner', owner: list.owner.email)
            a.btn.btn-outline-primary href=shopping_list_path(list) = I18n.t('shopping_lists.index.view')

- else
  .empty-content-container
    i.bi.bi-bag.empty-icon
    .empty-title = I18n.t("shopping_lists.index.no_lists_title")
    .empty-message = I18n.t("shopping_lists.index.no_lists")
    button.btn.btn-primary.mt-3 data-bs-toggle="modal" data-bs-target="#createShoppingListModal" = I18n.t('shopping_lists.index.create')

= render Shared::Modal::Component::Show.new(id: 'createShoppingListModal', title: I18n.t('shopping_lists.create.title'), size: 'md', type: 'form') do
  = render ShoppingList::Component::Form.new(shopping_list: @new_shopping_list)
