= render ::Base::Component::Breadcrumbs.new(items: [{ name: I18n.t('shopping_lists.index.title', default: 'Shopping Lists'), path: shopping_lists_path }, { name: @shopping_list.name }], back_path: shopping_lists_path)
= render Shared::TitleRow::Component::Show.new(title: @shopping_list.name, button_text: I18n.t('shopping_lists.show.back'), button_path: shopping_lists_path)

.row.g-4.mb-4
  = render ShoppingList::Component::Members.new(shopping_list: @shopping_list, current_user: @current_user, friends: @friends)

  .col-12
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        h5.mb-0 = I18n.t('shopping_lists.show.items')
      .card-body
        = render ShoppingListItem::Component::NewForm.new(shopping_list: @shopping_list)
        = render ShoppingListItem::Component::PendingList.new(shopping_list: @shopping_list, pending_items: pending_items, can_manage: can_manage_items?)
        = render ShoppingListItem::Component::DoneList.new(shopping_list: @shopping_list, done_items: done_items, can_manage: can_manage_items?)
