= image_tag "banners/shopping_list_detail.png", class: "img-fluid w-100 rounded mb-4 border-3 border-dark", style: "border: 3px solid #000; box-shadow: 4px 4px 0 #000; object-fit: cover; height: 15rem;"
= render Shared::TitleRow::Component::Show.new(title: @shopping_list.name, button_text: I18n.t('shopping_lists.show.back'), button_path: shopping_lists_path)

.row.g-4.mb-4
  = render ShoppingList::Component::Members.new(shopping_list: @shopping_list, current_user: @current_user, friends: @friends)

  .col-12
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        h5.mb-0 = I18n.t('shopping_lists.show.items')
      .card-body
        = render ShoppingListItem::Component::NewForm.new(shopping_list: @shopping_list)
        = render ShoppingListItem::Component::PendingList.new(shopping_list: @shopping_list, pending_items: pending_items, can_manage: can_manage_items?)
        = render ShoppingListItem::Component::DoneList.new(shopping_list: @shopping_list, done_items: done_items, can_manage: can_manage_items?)
