$primary-green: #00ff88;
$primary-pink: #c81346;
$text-black: #000000;
$text-white: #ffffff;
$border-black: #000000;
$bg-white: #ffffff;
$bg-light-gray: #efefef;
$bg-navbar: #d6e0df;
$shadow-black: 8px 8px 0 $border-black;
$shadow-gray: #6c757d;

$success-color: $primary-green;
$danger-color: $primary-pink;
$warning-color: #ffc107;
$info-color: #0dcaf0;
