= helpers.image_tag "banners/wishlists.png", class: "img-fluid w-100 rounded mb-4 border-3 border-dark", style: "border: 3px solid #000; box-shadow: 4px 4px 0 #000; object-fit: cover; height: 15rem;"
= render Shared::TitleRow::Component::Show.new(title: title, button_text: (show_create_button? ? I18n.t('wishlist_items.index.create') : nil), button_data: { 'bs-toggle': 'modal', 'bs-target': '#createWishlistItemModal' })

- if @wishlist_items.any?
  .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4.mb-4
    - @wishlist_items.each do |item|
      = render WishlistItems::Component::ItemCard.new(wishlist_item: item)

- else
  .empty-content-container
    i.bi.bi-heart.empty-icon
    .empty-title = I18n.t("wishlist_items.index.no_items_title")
    .empty-message = I18n.t("wishlist_items.index.no_items")
    - if show_create_button?
      button.btn.btn-primary.mt-3 data-bs-toggle="modal" data-bs-target="#createWishlistItemModal" = I18n.t('wishlist_items.index.create')

- if show_create_button?
  = render WishlistItems::Component::Create.new(new_wishlist_item: @new_wishlist_item)

- @wishlist_items.each do |item|
  - if helpers.policy(item).update?
    = render WishlistItems::Component::Edit.new(wishlist_item: item)
    = render WishlistItems::Component::Delete.new(wishlist_item: item)
