.col
  .card.h-100.shadow-sm.border-0.rounded-3
    - if @wishlist_item.image.attached?
      = helpers.image_tag @wishlist_item.image, class: "card-img-top", style: "height: 200px; object-fit: cover; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;"
    - else
      .card-img-top.bg-light.d-flex.align-items-center.justify-content-center style="height: 200px; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;"
        i.bi.bi-gift.fs-1.text-muted
    
    .card-body
      .d-flex.justify-content-between.align-items-start.mb-2
        h5.card-title.fw-bold.mb-0 = @wishlist_item.title
        
        - if @wishlist_item.price.present? && @wishlist_item.price > 0
           span.badge.bg-success = formatted_price

      hr.my-2

      - if @wishlist_item.description.present?
         p.card-text.text-muted.small.mb-3 = @wishlist_item.description.truncate(100)
      
      - if @wishlist_item.url.present?
        .text-center
          a.btn.btn-sm.btn-outline-primary.mb-3 href=@wishlist_item.url target="_blank"
            i.bi.bi-link-45deg.me-1
            = I18n.t('wishlist_items.form.url')

    .card-footer.bg-white.border-top-0.pb-3
      .d-block.mb-2
        small.text-muted = helpers.time_ago_in_words(@wishlist_item.created_at)
      .d-flex.justify-content-between.align-items-center
        - if @wishlist_item.user == helpers.current_user
          button.btn.btn-sm.btn-danger.px-4 type="button" data-bs-toggle="modal" data-bs-target="#deleteWishlistItemModal_#{@wishlist_item.id}"
            i.bi.bi-trash.fs-5
          
          button.btn.btn-sm.btn-primary.px-4 type="button" data-bs-toggle="modal" data-bs-target="#editWishlistItemModal_#{@wishlist_item.id}"
            i.bi.bi-pencil.fs-5
        - else
          button.btn.btn-sm.btn-success.w-100
            i.bi.bi-gift.me-2
            = I18n.t('wishlist_items.index.i_will_gift')


