.container
  = render ::Base::Component::Breadcrumbs.new(items: [{ name: I18n.t('recipes.index.title', default: 'Recipes'), path: recipes_path }, { name: @recipe.name, path: recipe_path(@recipe) }, { name: I18n.t('recipes.edit.breadcrumb', default: 'Edit') }], back_path: recipe_path(@recipe))

  .form-card
    .card-body
      h5.form-title = I18n.t('recipes.edit.title', default: 'Edit Recipe')

      = helpers.simple_form_for @recipe, url: recipe_path(@recipe), method: :patch, html: { class: 'form-custom', data: { controller: "nested-form", turbo: false } } do |f|
        = f.error_notification

        .form-group
          = f.input :name, label: I18n.t('recipes.name', default: 'Name'), input_html: { class: 'form-control-custom' }, label_html: { class: 'form-label-custom' }
          = f.input :description, as: :text, label: I18n.t('recipes.description', default: 'Description'), input_html: { class: 'form-control-custom', rows: 4 }, label_html: { class: 'form-label-custom' }, wrapper_html: { class: 'mt-3' }

        h5.form-label-custom.mt-4 = I18n.t('recipes.ingredients', default: 'Ingredients')
        
        .mb-3 data-nested-form-target="target"
          = f.fields_for :ingredients do |ingredient_form|
            = render Recipe::Component::IngredientFields.new(f: ingredient_form)

        template data-nested-form-target="template"
          = f.fields_for :ingredients, Ingredient.new, child_index: 'NEW_RECORD' do |ingredient_form|
            = render Recipe::Component::IngredientFields.new(f: ingredient_form)

        .form-group.mb-4
          button.form-control-custom.text-center type="button" data-action="nested-form#add"
            i.bi.bi-plus-lg.me-2
            = I18n.t('recipes.new.add_ingredient', default: 'Add Ingredient')

        .form-actions.d-flex.gap-3.mt-4
          = link_to I18n.t('basic.cancel'), recipe_path(@recipe), class: "btn btn-dark"
          = f.button :submit, I18n.t('basic.update', default: 'Update'), class: "btn-submit-custom flex-grow-1"
