.container
  = render ::Base::Component::Breadcrumbs.new(items: [{ name: I18n.t('recipes.index.title', default: 'Recipes'), path: recipes_path }, { name: @recipe.name }], back_path: recipes_path)

  .d-flex.justify-content-between.align-items-center.mb-4
    h1 = @recipe.name
    - if helpers.policy(@recipe).update?
      = render ::Base::Component::Button.new(type: :edit, path: edit_recipe_path(@recipe))
  
  .row
    - if @recipe.description.present?
      .col-lg-8.mb-4
        .card.h-100
          .card-body
            = helpers.simple_format(@recipe.description)

    div class=(@recipe.description.present? ? "col-lg-4" : "col-12")
      .card.mb-4
        .card-header
          h5.mb-0 = I18n.t('recipes.ingredients', default: 'Ingredients')
        .list-group.list-group-flush
          - @recipe.ingredients.each do |ingredient|
            .list-group-item = ingredient.content
    .d-flex.justify-content-between.align-items-center.mb-4
      - if helpers.policy(@recipe).destroy?
        = render ::Base::Component::Button.new(type: :delete, modal_id: "deleteRecipeModal_#{@recipe.id}")
      .d-flex.gap-2
        button.btn.btn-success type="button" data-bs-toggle="modal" data-bs-target="#addToShoppingListModal"
          = I18n.t('recipes.add_to_list.title', default: 'Add to Shopping List')

  - if helpers.policy(@recipe).destroy?
    = render Recipe::Component::Delete.new(recipe: @recipe)
  = render Recipe::Component::AddToShoppingListModal.new(recipe: @recipe)
